RewriteEngine On
RewriteRule ^stellar-e411e228da04$ https://www.matthewgifford.com/2017/10/25/stellar-observations/ [L,R=301]
RewriteRule ^habit-building-with-your-bullet-journal-491c98024215$ https://www.matthewgifford.com/2017/07/12/habit-building-with-your-bullet-journal/ [L,R=301]
RewriteRule ^weekend-chore-listening-ebcc8e2d605c$ https://www.matthewgifford.com/2017/07/10/weekend-chore-listening/ [L,R=301]
RewriteRule ^information-b24c1df1949$ https://www.matthewgifford.com/2017/05/21/information/ [L,R=301]
RewriteRule ^better-late-than-never-5f0c12527bf5$ https://www.matthewgifford.com/2017/04/09/better-late-than-never/ [L,R=301]
RewriteRule ^weekend-notes-3-5-17-356764af7e81$ https://www.matthewgifford.com/2017/03/05/less-is-more/ [L,R=301]
RewriteRule ^weekend-notes-2-20-17-7afccee2a432$ https://www.matthewgifford.com/2017/02/20/tabasco/ [L,R=301]
RewriteRule ^weekend-notes-2-12-17-4fb078d1eb38$ https://www.matthewgifford.com/2017/02/12/trampoline/ [L,R=301]
RewriteRule ^weekend-notes-2-5-17-247f52fcff1$ https://www.matthewgifford.com/2017/02/05/bootstraps/ [L,R=301]
RewriteRule ^friday-notes-1-27-17-9ef97cca8ca5$ https://www.matthewgifford.com/2017/01/27/attention/ [L,R=301]
RewriteRule ^friday-notes-12-30-16-a2effc249ebf$ https://www.matthewgifford.com/2016/12/31/2016/ [L,R=301]
RewriteRule ^friday-notes-12-23-16-f64d4c30731d$ https://www.matthewgifford.com/2016/12/23/christmas-rules-everything-around-me/ [L,R=301]
RewriteRule ^friday-notes-12-16-16-c1986ea4430f$ https://www.matthewgifford.com/2016/12/16/snow-days/ [L,R=301]
RewriteRule ^friday-notes-12-9-16-4e566b2a013$ https://www.matthewgifford.com/2016/12/09/building-steam/ [L,R=301]
RewriteRule ^friday-notes-12-2-16-33fa5a64536c$ https://www.matthewgifford.com/2016/12/02/ramen/ [L,R=301]
RewriteRule ^friday-notes-11-25-16-bb1002437d95$ https://www.matthewgifford.com/2016/11/25/thanks/ [L,R=301]
RewriteRule ^friday-notes-11-18-16-8aaed2b4a3e0$ https://www.matthewgifford.com/2016/11/18/wtf/ [L,R=301]
RewriteRule ^inlining-css-and-javascript-in-jekyll-16b9af67e27f$ https://www.matthewgifford.com/2016/10/17/embedding-css-and-javascript-in-jekyll/ [L,R=301]
RewriteRule ^new-year-s-day-conversation-4d46873cce3a$ https://www.matthewgifford.com/2016/01/01/new-years-day-conversation/ [L,R=301]
RewriteRule ^why-aren-t-you-using-hsl-2bff081aae48$ https://www.matthewgifford.com/2015/12/30/why-arent-you-using-hsl/ [L,R=301]
RewriteRule ^asimov-s-ghost-f724552a1eae$ https://www.matthewgifford.com/2015/11/07/azimovs-ghost/ [L,R=301]
RewriteRule ^contemporary-political-discourse-89ab2c50d014$ https://www.matthewgifford.com/2015/10/21/contemporary-political-discourse/ [L,R=301]
RewriteRule ^cut-and-tape-baea783b9dce$ https://www.matthewgifford.com/2015/09/24/books-and-scissors/ [L,R=301]
RewriteRule ^a-misconception-about-window-orientation-7231235a94c2$ https://www.matthewgifford.com/2015/07/11/a-misconception-about-window-orientation/ [L,R=301]
RewriteRule ^notes-on-asimov-s-foundation-1da243b99eb4$ https://www.matthewgifford.com/2015/03/29/notes-on-azimovs-foundation/ [L,R=301]
RewriteRule ^jason-lyza-aileen-and-john-thank-you-69cecfd69bd9$ https://www.matthewgifford.com/2015/03/24/jason-lyza-aileen-and-john-thank-you/ [L,R=301]
RewriteRule ^two-beautiful-videos-9d40898ac7ab$ https://www.matthewgifford.com/2015/03/01/two-beautiful-videos/ [L,R=301]
RewriteRule ^doing-the-work-d415608558a2$ https://www.matthewgifford.com/2015/03/01/doing-the-work/ [L,R=301]
RewriteRule ^a-little-nostalgia-at-the-beginning-of-the-year-a68bbe77164b$ https://www.matthewgifford.com/2015/03/01/a-little-nostalgia-at-the-beginning-of-the-year/ [L,R=301]
RewriteRule ^twitter-is-a-drug-b33002c21c8$ https://www.matthewgifford.com/2015/01/27/twitter-is-a-drug/ [L,R=301]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.matthewgifford.com/$1 [R=301,L]
