<!DOCTYPE html>
<html>
  <head>
    <!--
           ___                       ___         ___   
          /  /\        ___          /  /\       /  /\  
         /  /:/_      /  /\        /  /:/_     /  /:/_ 
        /  /:/ /\    /  /:/       /  /:/ /\   /  /:/ /\
       /  /:/_/::\  /__/::\      /  /:/ /:/  /  /:/ /:/
      /__/:/__\/\:\ \__\/\:\__  /__/:/ /:/  /__/:/ /:/ 
      \  \:\ /~~/:/    \  \:\/\ \  \:\/:/   \  \:\/:/  
       \  \:\  /:/      \__\::/  \  \::/     \  \::/   
        \  \:\/:/       /__/:/    \  \:\      \  \:\   
         \  \::/        \__\/      \  \:\      \  \:\  
          \__\/                     \__\/       \__\/  
     
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% if page.title != '' %}{{ page.title }} – {% endif %}{{ site.title }}</title>
    {% if page.summary %}
      <meta name="description" content="{{ page.summary | strip }}" />
    {% endif %}
    <link rel="canonical" href="http://www.matthewgifford.com{{ page.url }}" />
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,600|Lora" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />
  </head>
  <body>
