{% include header.html %}

<header>
  <h2><a href="/">Matthew Gifford</a></h2>
</header>

<div class="main">
  {{ content | strip }}

  <div class="published-date">{{ page.date | date: '%B %e, %Y' }}</div>

  <div class="fleuron">❁</div>

  <p>Have something to say? <a href="mailto:hello@matthewgifford.com?subject=Feedback: {{ page.title }}">Email me</a>.</p>

  {% if page.next.url %}
    <p>Next post: <a href="{{ page.next.url }}">{{page.next.title}}</a></p>
  {% endif %}

  {% if page.previous.url %}
    <p>Previous post: <a href="{{ page.previous.url }}">{{page.previous.title}}</a></p>
  {% endif %}

</div>

{% include footer.html %}
